$black: #222;
$grey: #999;

@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700);

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Alegreya', serif;
    color: $black;
    background-color: #ffaa80;
}

.main {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    border: {
        left: 20px solid transparent;
        right: 20px solid transparent;
    }
}

h1 {
    text-align: center;
}

.footer {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
	width: 100%;
    position: absolute;
    bottom: 10px;
}

a {
    color: #444;
}

.grid {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    outline: 5px #B37759 solid;
}

td {
    border: 2px solid $black;
    height: 4.5vmin;
    max-height: 35px;
    width: 4.5vmin;
    max-width: 35px;
    cursor: pointer;
}

.dead {
    background-color: #fff;
}

.alive {
    background-color: $black;
}

.new {
    background-color: $grey;
}

button {
    margin: {
        top: 20px;
        right: 10px;
    }
    border: {
        width: 2px;
    }
    background-color: #ccc;
    cursor: pointer;
    border-radius: 5px;
}

button:focus {
    outline-color: #B37759;
}

input {
    width: 50px;
    margin-top: 10px;
}

label {
    display: inline-block;
    width: 240px;
    text-align: left;
}

.bottomElement {
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
    td {
        height: 2.5vmin;
        width: 2.5vmin;
    }
}

@media screen and (min-width: 992px) {
    td {
        height: 20px;
        width: 20px;
    }
}